@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
  }
* {
    font-family: 'Poppins', sans-serif;
    cursor:url(http://www.rw-designer.com/cursor-extern.php?id=23997), auto;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	/* border-radius: 10px; */
	background-color: white;
}
::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
	/* border-radius: 10px; */
	background-color: #d63900a1;
}
body {
    background-color: #ffca00 !important;
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #ffca00 url(/res/loadTrans.gif) no-repeat center center;
    background-size: 10%;
}
nav.navbar {
    background-color: #ffbb00;
    opacity: 0.98;
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
}
nav div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 5px 5px 5px 10px;
    font-size: 1.2rem;
}
nav a:hover, i.fa-cart-shopping , nav img:hover:not(.shopImg) {
    cursor: pointer;
}
nav .btn-light {
    background-color: #d63900a1;
    border: 0;
    margin-left: 10px;
    transition: transform 0.4s;
}
nav .btn-light:hover {
    background-color: #d63900a1;
    filter: drop-shadow(0 0 20px #12121218);
    transform: scale(1.1);
}
nav button.cartIcon {
    border: 0;
    font-size: 1.3rem;
    margin: 0 0 0 0px;
}
nav button.cartIcon i {
    display: inline-block;  
    -webkit-transition: 0.6s ease-out;
    -moz-transition:  0.6s ease-out;
    transition:  0.3s ease-out;  
}
nav button.cartIcon i:hover {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    transform: rotateZ(360eg);
    color: #d63900a1;
}
@keyframes fadeIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: none;
    }
}
@keyframes fadeOut {
    0% {
        transform: none;
    }
    100% {
        transform: translateX(100%);
    }
}
nav .cart {
    background-color: #F00059;
    border-radius: 10px;
    position: absolute;
    display: none;
    margin-top: 25%;
    height: 40vh;
    max-height: 40vh;
    overflow: auto;
    width: 28%;
    text-align: center;
    z-index: 1;
}
.cart::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}
.cart::-webkit-scrollbar-thumb {
	/* border-radius: 10px; */
	background-color: rgba(0, 0, 0, 0.586);
}
nav h4 {
    margin: 10px 2% 2%;
    color: rgba(255, 255, 255, 0.837);
}
nav ol {
    text-align: left;
}
.cart li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 20px 0 0;
}
.shopImg {
    width: 75px;
    border: 2px solid black;
    border-radius: 20px;
}
nav p.price {
    width: 20%;
}
nav p {
    font-size: 1.2rem;
    margin: 0 10px;
}
nav .minus {
    background-color: #F00059;
    color: white;
    border: 0;
}
nav input {
    width: 45px;
    text-align: center;
    background-color: #f0005844;
    color: white;
    border: 0;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}
nav .plus {
    background-color: #F00059;
    color: white;
    border: 0;
}
nav .quantity {
    width: 30%;
}
nav .delete {
    background-color: #F00059;
    color: white;
    border: 0;
}
nav .delete i:hover {
    cursor: pointer;
}
nav p.total {
    margin: 4% 0 4% 0;
    text-align: center;
}
nav .buttonContainer {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0;
}
nav .checkout {
    background-color: #ffbb00;
    border: 0;
    border-radius: 10px;
    transition: transform 0.4s;
    /* margin-right: 15px; */
}
nav .checkout:hover {
    background-color: #ffbb00;
    filter: drop-shadow(0 0 20px #12121218);
    transform: scale(1.1);
}
.carousel {
    text-align: center;
    display: block;
    margin: auto;    
    background-color: #ffca00;
}
.carousel .title {
    margin-top: 7%;
}
span {
    color: #F00059;
    font-weight: 700;
}
.slide {
    width: 100%;
}
.info .num1, .info .text {
    margin-top: 30px;
}
.icons {
    margin-left: 8.2%;
}
.row {
    margin-right: 0 !important;
}
.icons img {
    width: 100%;
    border-radius: 40px;
    filter : drop-shadow(16px 16px 20px rgba(128, 128, 128, 0.845))
}
.icons .num2 img {
    margin-top: 15px;
}
.text h2, .why h2 {
    line-height: 45px;
}
.text p, .why p {
    line-height: 35px;
    font-weight: 420;
    text-align: justify;
}
.why .row {
    margin: 70px 0 70px 120px;
}
.why .col-4 {
    margin-left: 150px;
}
.Gallery h2 {
    margin-top: 7%;
}
.items h2 {
    text-align: center;
    margin-left: 1%;
}
.Pricing h2 {
    font-size: 2.5rem;
    font-weight: 700;
}
.Pricing p {
    font-size: 1.1rem;
    text-align: center;
}
.itemsCollection {
    margin: 40px 50px !important;
    text-align: center !important;
}
.itemsCollection div {
    text-align: center;
    border-radius: 20px;
    padding: 1%;
    box-shadow: 10px 10px 40px rgba(128, 128, 128, 0.392);
    z-index: 2;
    transition: transform 0.6s, background-color 0.8s;
    margin: 0 10px;
    width: 22%;
    /* position: relative; */
}
.CatsGallery div {
    margin: 1%;
}
.itemsCollection div:hover{
    transform: scale(1.1);
    z-index: 6;
    background-color: rgba(255, 255, 255, 0.785);;
}
/* .itemsCollection div:hover .cart1 {
    bottom: 80px;
    opacity: 1;
    color: aliceblue;
    padding: 10px;
} */
.itemsCollection img {
    width: 80%;
    border: 5px solid black;
    border-radius: 40px;
    transition: 0.4s;
}
.itemsCollection img:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 20px #12121218);
    border: 5px solid steelblue;
}
.itemsCollection p {
    margin: 5px 0 3px 0;
}
.itemsCollection span {
    color: black;
    font-weight: 500;
}
.itemsCollection button {
    color: black;
    background-color: #F00059;
    /* margin-top: 8px; */
    transition: transform 0.4s;
}
.itemsCollection button:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 20px #12121218);
    color: black;
    background-color: #F00059;
    color: white;
}
.foot {
    background-color: #F00059;
    padding: 2.5%;
}
form {
    /* text-align: center; */
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.form input {
    border-radius: 5px;
    margin: 0 2%;
    background-color: whitesmoke;
    padding: 3.5px;
}
.form button {
    background-color: #ffca00;
    border-color: #ffca00;
    transition: all 0.4s;
}
.form .btn-light:hover {
    background-color: #ffca00;
    border-color: #ffca00;
    filter: drop-shadow(0 0 20px #12121218);
    transform: scale(1.1);
}
footer {
    padding: 2% 2% 2% 2% !important;
    position: relative;
    bottom: 0;
}

footer .row {
    text-align: center;
    padding: 0 60px;
}
footer .row img:not(.download) {
    width: 15%;
    margin: 2%;
}
footer h2 {
    font-size: 1.7rem;
}
footer h3 {
    font-size: 1.4rem;
    color: #ffbb00;
}
footer ul, footer p {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
footer a.social {
    font-size: 1.8rem;
    text-decoration: none;
    color: black;
}
footer a.footA {
    font-size: 0.95rem;
    text-decoration: none;
    color: black;
}
footer a.footA:hover, footer i.fa-brands:hover , .download {
    cursor: pointer;
    color: #ffbb00;
}
footer .download {
    width: 40%;
}
iframe {
    display: none;
}
@media (min-width:768px) and (max-width:992px) {
    nav .cart {
        top: -45%;
        width: 62%;
        right: 36%;
        height: 35vh;
        max-height: 40vh;
    }
    .carousel h1 {
        margin-top: 4.5rem;
    }
    .text p {
        /* padding-right: 0.7rem !important; */
        text-align: justify;
    }
    .whyCatIcon {
        padding-right: 5rem !important;
    }
    .why p {
        text-align: justify;
    }
}
@media (max-width:767px) {
    * {
        box-sizing: border-box;
    }
    nav {
        max-width: 100%;
        padding: 0.7% !important;
    }
    nav .navbar-brand {
        font-size: 0.9rem;
    }
    button.navbar-toggler {
        padding: 0.5% 2%;
    }
    nav .navbar-nav , nav .btn-light {
        font-size: 0.7rem;
        text-align: center;
    }
    nav .btn-light {
        padding: 1% 2%;
        margin: 1%;
    }
    nav .cart {
        margin-top: 3rem;
        top: 0;
        width: 65%;
        right: 32%;
        height: 10rem;
        max-height: 15rem;
    }
    .cart h4 {
        font-size: 1.1rem;
    }
    .cart p , .cart .total {
        font-size: 1rem ;
    }
    .cart .buttonContainer {
        font-size: 0.9rem;
    }
    .cart ol {
        padding: 0 2%;
    }
    .cart li {
        padding: 0 2%;
    }
    .cartItem .shopImg {
        width: 15%;
    }
    .cartItem .price, .cartItem .quantity {
        font-size: 0.75rem;
        width: 15%;
    }
    .cartItem .minus , .cartItem .plus, .cartItem input, .cartItem .delete {
        font-size: 0.75rem;
        width: 8%;
    }
    .cartItem .quantity {
        width: 12%;
    }
    .carousel h1 {
        margin-top: 4rem;
        width: 100%;
    }
    .Gallery h2 {
        margin-top: 3rem;
    }
    .container {
        margin : 0;
    }
    .info .row {
        /* width: 96%; */
        text-align: center;
        margin-left: 0;
    }
    .icons {
        /* margin: auto auto auto 50px; */
        /* padding-left: 56px; */
        margin: 0;
        text-align: center !important;
    }
    .icons img {
        width: 70%;
    }
    .text {
        text-align: center;
        padding: 0 5% !important;
    }
    .text h2, .why h2 {
        line-height: 2.5rem;
    }
    .text p, .why p {
        text-align: justify;
        line-height: 2rem;
    }
    .why .row {
        margin: 0;
        padding: 5%;
    }
    .whyCatIcon {
        text-align: center;
    }
    .whyCatIcon img {
        width: 50%;
    }
    .why h2 {
        text-align: center;
    }
    .items .row {
        margin-left: 0;
    }
    .itemsCollection {
        margin: 2% !important;
    }
    .itemsCollection div {
        margin: 0.305rem;
    }
    .itemsCollection button {
        font-size: 0.75rem;
        padding: 0 2.5%;
        margin: 0.2rem;
        border-radius: 7px;
    }
    footer .row {
        padding: 1%;
        margin-left: 0;
    }
    footer ul:not(ul.comm) {
        line-height: 1rem;
        margin-bottom: 1rem;
    }
    footer h2 {
        font-size: 1rem;
    }
    footer h2 img {
        width: 18% !important;
    }
    footer h3 {
        font-size: 0.9rem;
    }
    footer li a, footer p {
        font-size: 0.8rem !important;
    }
    footer a.social {
        line-height: 0.2rem !important;
    }
    footer i {
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }
    footer img.download {
        width: 25%;
    }
}